<!DOCTYPE html>
<html>
    <body>
        <h1>
            Results Page
        </h1>

        <form action="/submit" method = 'post'>
            <label for="Science">Science:</label><br>
            <input type="text" id="Science" name="Science" value="0"><br>
            <label for = "Maths">Maths:</label><br>
            <input type="text" id="Maths" name="Maths" value="0"><br>
            <label for="C ">C:</label><br>
            <input type="text" id="C" name="C" value="0"><br>
            <label for="Data Science">Data Science:</label><br>
            <input type="text" id="Data Science" name="Data Science" value="0"><br>
            <input type="submit" value="Submit">
        </form>
        
        <p>If you click the "Submit" button, the form-data will be sent to a page called "/submit".</p>

    </body>
</html>